body{
    text-align: center;
    height: 100vh;
    background-size: cover;
    background-repeat: none;
    
}
.content {
    width: 70%;
    margin: 1em auto;
    background-color: lightblue;
}

main {
    max-width: 70%;
    margin: 10px auto;
    display:flex; 
    flex-direction: column;
}
img{
    max-width: 100%;
}
#image-frame {
    font-size: x-large;
    text-align: center;
    margin: 1em auto;        /*//////////////////////*/
}
#options {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
#explanation, #score {
    padding: 1rem;
    text-align: center;
}
button {
    padding: 0.5rem;
    font-size: medium;
    border-radius: 5px;
}
.correct {
    background-color: lightgreen;
}
.incorrect {
    background-color: lightpink;
}
.hidden {
    display: none;
}